@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption|Roboto&subset=cyrillic");
.color-yellow {
  color: #F6C119; }

.btn-primary {
  background: #F6C119;
  border: 1px solid #F6C119; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #F6C119 !important;
    border: 1px solid #F6C119; }

.container-fluid {
  padding: 0 !important; }

body {
  font-family: Roboto, serif;
  background: #FFFFFF; }

h1 {
  font-family: "PT Sans Caption", serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 80px;
  text-transform: uppercase;
  color: #F6C119; }
  @media (max-width: 768px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-family: "PT Sans Caption", serif;
  font-style: normal;
  font-size: 36px;
  color: #4E4B42; }
  @media (max-width: 768px) {
    h2 {
      font-size: 26px; } }

h3 {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #1B1B1B; }
  @media (max-width: 768px) {
    h3 {
      font-size: 18px; } }

.btn-yellow {
  width: 264px;
  height: 60px;
  border: none;
  background: #F6C119 !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 20px;
  cursor: pointer; }
  @media (max-width: 768px) {
    .btn-yellow {
      width: 100%; } }
  .btn-yellow:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); }
  .btn-yellow:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }

.container {
  padding-top: 120px;
  padding-bottom: 120px; }

.headline {
  display: flex;
  justify-content: stretch; }
  .headline .line {
    height: 1px;
    min-width: 10%;
    background: #F6C119;
    margin-top: 23px;
    flex-grow: 1; }
    @media (max-width: 768px) {
      .headline .line {
        display: none; } }
  .headline h2 {
    width: auto;
    text-align: center;
    padding: 0 40px;
    margin: 0 auto; }

.main {
  background: url("../img/main.png") center;
  height: 900px; }
  @media (max-width: 768px) {
    .main {
      height: 600px; } }
  .main .container {
    padding-top: 0;
    padding-bottom: 0; }
  .main header {
    padding-top: 60px;
    border-bottom: 1px solid #F6C119; }
@media(max-width: 768px) {
  .main header {
    padding-top: 5px; } }
    .main header .navbar-light .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(246, 193, 25, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
    .main header .navbar-light .navbar-toggler {
      border: none;
      outline: none; }
    .main header .navbar-collapse {
      flex-basis: 0; }
@media(max-width: 768px) {
  .main header .navbar {
    display: block; }
    .main header .navbar .logo {
      display: inline; }
    .main header .navbar .navbar-toggler {
      float: right; } }
    .main header .row {
      justify-content: space-around;
      flex-wrap: wrap; }
    .main header .logo {
      color: #F6C119; }
      .main header .logo img {
        margin-top: -6px;
        width: 43px; }
    .main header .menu {
      justify-content: space-around;
      margin-top: 2px; }
      @media (min-width: 768px) {
        .main header .menu {
          display: flex; } }
      .main header .menu .item {
        margin: 0 5px; }
        .main header .menu .item a {
          color: #ffffff; }
          .main header .menu .item a:hover {
            color: #F6C119;
            cursor: pointer;
            text-decoration: none; }
    .main header .menu.show {
      text-align: left; }
    .main header .tel {
      text-align: right;
      font-size: 20px;
      color: #F6C119;
      margin-top: 2px;
      min-width: 355px; }
      .main header .tel svg {
        height: 26px;
        margin-right: 5px; }
        .main header .tel svg path {
          fill: #F6C119; }
      @media (min-width: 1200px) {
        .main header .tel {
          font-size: 24px;
          margin-top: 0; } }
      @media (max-width: 1200px) {
        .main header .tel {
          min-width: 310px; } }
      @media (max-width: 991.98px) {
        .main header .tel {
          position: relative;
          top: -66px; } }
@media(max-width: 768px) {
  .main header .tel {
    display: none; } }
  .main-block {
    margin-bottom: -546px;
    margin-left: -50px; }
    @media (max-width: 991.98px) {
      .main-block {
        display: none; } }
  .main h1 {
    margin-top: 96px;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      .main h1 {
        width: 100%;
        margin-top: 0;
        position: absolute;
        top: 150px;
        left: 0;
        text-align: center; } }
  .main h3 {
    color: #ffffff; }
    @media (max-width: 768px) {
      .main h3 {
        width: 100%;
        position: absolute;
        top: 240px;
        left: 0;
        text-align: center; } }

.services {
  background: #FFFFFF; }
  @media (max-width: 768px) {
    .services .container {
      width: 100%;
      max-width: none; } }
  .services .row {
    padding-top: 30px; }
  .services .services-block {
    margin-top: 80px;
    transition: all 0.3s !important;
    height: 314px; }
    @media (max-width: 1200px) {
      .services .services-block {
        height: 270px; } }
    @media (max-width: 991.98px) {
      .services .services-block {
        height: 213px; } }
    @media (max-width: 768px) {
      .services .services-block {
        height: 80px;
        padding: 0;
        margin-top: 0; } }
  @media (max-width: 768px) {
    .services .services-block:hover {
      height: 300px; } }
  .services .services-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    height: 323px; }
    @media (max-width: 1200px) {
      .services .services-card {
        height: 270px; } }
    @media (max-width: 991.98px) {
      .services .services-card {
        height: 213px; } }
    @media (max-width: 768px) {
      .services .services-card {
        height: 80px; } }
  .services img {
    width: 100%;
    height: auto; }
    @media (max-width: 768px) {
      .services img {
        display: none; } }
  .services .text {
    text-align: center;
    height: 80px;
    background: #4F4F4F;
    color: #F6C119;
    display: flex;
    flex-flow: wrap row;
    transition: all 0.3s !important;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden; }
    @media (max-width: 768px) {
      .services .text {
        height: max-content; } }
    .services .text .text-head {
      height: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .services .text:hover {
      height: 324px;
      top: -244px; }
      @media (max-width: 1200px) {
        .services .text:hover {
          height: 280px;
          top: -200px; } }
      @media (max-width: 991.98px) {
        .services .text:hover {
          height: 223px;
          top: -143px; } }
      @media (max-width: 768px) {
        .services .text:hover {
          height: 309px;
          top: 0; } }
    .services .text span {
      display: flex;
      padding: 0 24px 15px 30px;
      color: #ffffff;
      width: 100%;
      height: calc(100% - 70px);
      text-align: left;
      line-height: 19px;
      hyphens: manual; }

.call {
  background: url("../img/call-background.png");
  text-align: center;
  color: #ffffff; }
  @media (min-width: 1200px) {
    .call .container {
      width: 970px; } }
  .call h2 {
    color: #ffffff; }
  .call form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px; }
    @media (max-width: 768px) {
      .call form {
        margin-top: 10px; } }
    .call form .privicy {
      width: 100%;
      font-size: 12px;
      margin-top: 20px;
      text-align: left; }
      .call form .privicy a {
        color: #ffffff;
        text-decoration: underline; }
  .call .btn-yellow {
    width: 274px;
    height: 66px; }
    @media (max-width: 768px) {
      .call .btn-yellow {
        margin-top: 20px;
        width: 100%; } }
  .call .btns {
    padding: 5px;
    background: #4F4F4F;
    display: inline-block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
    @media (max-width: 768px) {
      .call .btns {
        width: 100%;
        margin-top: 20px; } }
  .call .input {
    width: 264px;
    background: #4F4F4F;
    border: 1px solid #F6C119;
    color: #ffffff;
    padding: 15px 10px;
    outline: none; }
    @media (max-width: 768px) {
      .call .input {
        width: calc(100% - 10px); } }

.works {
  background: url("../img/works-background.png"); }
  .works h2 {
    color: #ffffff; }
  .works .headline {
    margin-bottom: 60px; }
  .works .carousel {
    padding: 15px;
    background: #4F4F4F; }
  .works .carousel-inner {
    background: #4F4F4F;
    border: 1px solid #F6C119; }
  .works .carousel-item-card {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff; }
    .works .carousel-item-card .card-top {
      width: 100%;
      padding: 40px; }
    .works .carousel-item-card .card-center {
      display: flex; }
      .works .carousel-item-card .card-center img {
        width: 50%; }
      .works .carousel-item-card .card-center img:nth-child(1) {
        border-right: 1px solid #F6C119; }
    .works .carousel-item-card .card-bottom {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 40px; }
      .works .carousel-item-card .card-bottom .card-22 {
        text-align: right; }
  .works .carousel-control-prev, .works .carousel-control-next {
    opacity: 1; }
  .works .carousel-control-prev-icon {
    background-image: url("../img/arrow-prev.png");
    width: 20px;
    height: 50px;
    margin-left: 18px; }
  .works .carousel-control-next-icon {
    background-image: url("../img/arrow-next.png");
    width: 20px;
    height: 50px;
    margin-right: 18px; }
  .works-btn {
    margin-top: 80px; }
  .works .btn-yellow {
    background: #F6C119 url("../img/Polygon2.png") no-repeat 85% center !important;
    padding-right: 25px; }

.advantages .container {
  background: url("../img/advantages.png") no-repeat center 465px;
  background-size: auto; }
  @media (max-width: 768px) {
    .advantages .container {
      background: #FFFFFF; } }
.advantages-line1 {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  .advantages-line1 .advantages-blocks:nth-child(2n-1) {
    margin-top: 180px; }
.advantages-line2 {
  display: flex;
  justify-content: space-around;
  margin-top: 300px; }
.advantages11 {
  position: relative;
  text-align: center;
  margin-top: 20px; }
.advantages-blocks {
  width: 300px; }
.advantages-block {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #5b5b5b;
  text-align: center !important;
  transition: all 0.2s ease-out 0.1s !important;
  overflow: hidden;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  .advantages-block .advantages-head {
    display: none;
    color: #F6C119;
    font-size: 24px; }
  .advantages-block .advantages-text {
    margin-top: 10px;
    display: none;
    color: #ffffff;
    font-size: 16px; }
  .advantages-block img {
    margin-top: 25px;
    height: 50px; }
  .advantages-block:hover {
    width: 280px;
    height: 250px;
    border-radius: 19px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px !important;
    color: #F6C119;
    margin-bottom: -150px; }
    .advantages-block:hover .advantages-head {
      display: inline; }
    .advantages-block:hover .advantages-text {
      display: block; }
    .advantages-block:hover img {
      display: none; }

.carousel-control-prev {
  justify-content: left; }

.carousel-control-next {
  justify-content: flex-end; }

.forms {
  background: url("../img/call-background.png"); }
  .forms h2 {
    color: #ffffff; }
  .forms form {
    margin-top: 40px; }
    .forms form .privicy {
      color: #ffffff;
      font-size: 14px;
      margin: 20px 0; }
      .forms form .privicy a {
        color: #ffffff;
        text-decoration: underline; }
    .forms form .d-flex {
      justify-content: space-between;
      flex-wrap: wrap; }
    .forms form .btn-form {
      cursor: pointer; }
    .forms form .input {
      background: #4F4F4F;
      border: 1px solid #F6C119;
      color: #ffffff;
      padding: 15px 10px;
      outline: none;
      width: 264px; }
      .forms form .input span {
        color: #F6C119; }
      .forms form .input img {
        float: right;
        margin-top: 5px; }
      @media (max-width: 768px) {
        .forms form .input {
          width: 100%; } }
    .forms form label {
      margin: 0;
      color: #F6C119; }
    .forms form input[type=file] {
      display: none; }
    .forms form textarea.input {
      width: 100%;
      height: 110px;
      resize: none;
      margin-bottom: -5px; }
    .forms form .btns {
      padding: 5px;
      background: #4F4F4F;
      display: inline-block;
      margin-top: 40px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
      @media (max-width: 768px) {
        .forms form .btns {
          width: 100%; } }
    .forms form .btns-t {
      display: block;
      padding: 5px;
      background: #4F4F4F;
      margin-top: 40px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
    .forms form .d-block {
      margin: 40px 0;
      color: #111111;
      font-size: 20px; }

.price {
  background: #4F4F4F;
  height: 710px;
  color: #ffffff; }
  @media (min-width: 768px) {
    .price {
      background: #4F4F4F url("../img/price-background.png") 50vw center no-repeat; } }
  .price h2 {
    color: #ffffff; }
  .price .d-flex {
    margin-bottom: 60px; }
  .price .btns {
    padding: 5px;
    background: #444444;
    height: 45px; }
  .price .select {
    /*for WebKit */
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    border: 1px solid #F6C119;
    color: #F6C119;
    padding: 6px;
    outline: none;
    width: 264px;
    height: 34px;
    background: #444444 url("../img/Polygon.png") no-repeat 95% center; }
    .price .select option {
      color: #ffffff; }
  .price-items {
    display: none; }
    .price-items.show {
      display: block; }
  .price-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F6C119;
    padding: 15px 0 5px; }
    .price-item-1 {
      flex-shrink: 3; }
    .price-item-2 {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-basis: 110px;
      width: 110px; }

.footer {
  background: #1B1B1B;
  color: #ffffff;
  font-size: 14px; }
  .footer.container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .footer .logo {
    font-size: 16px; }
    .footer .logo img {
      margin-right: 10px;
      width: 45px; }
  .footer .container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between; }
    .footer .container .item {
      margin-top: 20px; }
    .footer .container .contact img {
      margin-right: 10px; }

iframe {
  margin-bottom: -10px; }

.appointment {
  width: 400px;
  height: 380px;
  margin: 10% auto; }
  .appointment .modal-content {
    background: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 75px; }
    .appointment .modal-content form {
      margin: 0 50px; }
    .appointment .modal-content .btns {
      padding: 5px;
      background: #4F4F4F;
      display: inline-block;
      margin: 10px 0; }
    .appointment .modal-content .btn-check {
      margin: 10px 0; }
    .appointment .modal-content input.btn-grey {
      background: #4F4F4F;
      border: 1px solid #F6C119;
      color: #ffffff;
      padding: 15px 10px;
      outline: none;
      width: 290px; }
    .appointment .modal-content .btn-yellow {
      margin: 20px 20px 5px;
      width: calc( 100% - 40px); }

/*# sourceMappingURL=index.css.map */
