@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption|Roboto&subset=cyrillic");
.color-yellow {
  color: #F2A711; }

.btn-primary {
  background: #F2A711;
  border: 1px solid #F2A711; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #F2A711 !important;
    border: 1px solid #F2A711; }

.container-fluid {
  padding: 0 !important; }

body {
  font-family: Roboto, serif;
  background: #FFF3D7; }

h1 {
  font-family: "PT Sans Caption", serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 60px;
  text-transform: uppercase;
  color: #111111; }
  @media (max-width: 768px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-family: "PT Sans Caption", serif;
  font-style: normal;
  font-size: 36px;
  color: #4E4B42; }
  @media (max-width: 768px) {
    h2 {
      font-size: 26px; } }

h3 {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #1B1B1B; }
  @media (max-width: 768px) {
    h3 {
      font-size: 20px; } }

.btn-yellow {
  width: 264px;
  height: 60px;
  border: none;
  background: #F2A711 !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 20px; }
  @media (max-width: 768px) {
    .btn-yellow {
      width: 100%; } }
  .btn-yellow:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); }
  .btn-yellow:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }

.container {
  padding-top: 120px;
  padding-bottom: 120px; }

.headline {
  display: flex;
  justify-content: stretch; }
  .headline .line {
    height: 1px;
    min-width: 10%;
    background: #F2A711;
    margin-top: 23px;
    flex-grow: 1; }
    @media (max-width: 768px) {
      .headline .line {
        display: none; } }
  .headline h2 {
    width: auto;
    text-align: center;
    padding: 0 40px;
    margin: 0 auto; }

.main {
  background: url("../img/main.png") center;
  height: 900px; }
  .main .container {
    padding-top: 0;
    padding-bottom: 0; }
  .main header {
    padding-top: 60px; }
@media(max-width: 575.98px) {
  .main header {
    padding-top: 40px; } }
    .main header .navbar-collapse {
      flex-basis: 0; }
    .main header .row {
      justify-content: space-around;
      flex-wrap: wrap; }
    .main header .logo {
      color: #F2A711;
      font-size: 24px; }
@media(max-width: 575.98px) {
  .main header .logo {
    font-size: 16px; } }
    .main header .menu {
      justify-content: space-around;
      margin-top: 2px; }
      @media (min-width: 768px) {
        .main header .menu {
          display: flex; } }
      .main header .menu .item {
        margin: 0 5px; }
        .main header .menu .item a {
          color: #111111;
          font-size: 20px; }
          .main header .menu .item a:hover {
            color: #F2A711;
            cursor: pointer;
            text-decoration: none; }
    .main header .menu.show {
      text-align: left; }
    .main header .tel {
      text-align: right;
      font-size: 20px;
      color: #111111;
      margin-top: 2px;
      min-width: 320px; }
      @media (min-width: 1200px) {
        .main header .tel {
          font-size: 24px;
          margin-top: 0; } }
      @media (max-width: 1200px) {
        .main header .tel {
          min-width: 270px; } }
      @media (max-width: 992px) {
        .main header .tel {
          position: relative;
          top: -66px; } }
@media(max-width: 768px) {
  .main header .tel {
    font-size: 16px;
    top: 0; } }
  .main h1 {
    margin-top: 230px;
    margin-bottom: 40px; }

.services {
  background: #FFF3D7; }
  .services .services-block {
    margin-top: 80px;
    transition: all 0.3s !important;
    height: 314px; }
    @media (max-width: 1200px) {
      .services .services-block {
        height: 270px; } }
    @media (max-width: 992px) {
      .services .services-block {
        height: 213px; } }
    @media (max-width: 768px) {
      .services .services-block {
        height: 299px; } }
  .services .services-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    height: 313px; }
    @media (max-width: 1200px) {
      .services .services-card {
        height: 270px; } }
    @media (max-width: 992px) {
      .services .services-card {
        height: 213px; } }
    @media (max-width: 768px) {
      .services .services-card {
        height: 299px; } }
  .services img {
    width: 100%;
    height: auto; }
  .services .text {
    text-align: center;
    height: 70px;
    background: #4F4F4F;
    color: #F2A711;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    transition: all 0.3s !important;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden; }
    .services .text .text-head {
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .services .text:hover {
      height: 314px;
      top: -244px; }
      @media (max-width: 1200px) {
        .services .text:hover {
          height: 270px;
          top: -200px; } }
      @media (max-width: 992px) {
        .services .text:hover {
          height: 213px;
          top: -143px; } }
      @media (max-width: 768px) {
        .services .text:hover {
          height: 299px;
          top: -229px; } }
    .services .text span {
      margin-top: 15px;
      padding: 15px;
      color: #ffffff;
      width: 100%; }

.call {
  background: url("../img/call-background.png");
  text-align: center; }
  .call input {
    margin-top: 60px; }

.works {
  background: url("../img/works-background.png"); }
  .works h2 {
    color: #ffffff; }
  .works .headline {
    margin-bottom: 60px; }
  .works .carousel-item-card {
    background: url("../img/car.png") center center no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff; }
    .works .carousel-item-card .card-1 {
      display: flex;
      width: 100%;
      padding: 40px; }
    .works .carousel-item-card .card-2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 40px; }
      .works .carousel-item-card .card-2 .card-22 {
        text-align: right; }
  .works .carousel-control-prev-icon {
    background-image: url("../img/arrow-prev.png");
    width: 20px;
    height: 50px; }
  .works .carousel-control-next-icon {
    background-image: url("../img/arrow-next.png");
    width: 20px;
    height: 50px; }

.advantages .container {
  background: url("../img/advantages.png") no-repeat center 465px;
  background-size: auto; }
  @media (max-width: 768px) {
    .advantages .container {
      background: #FFF3D7; } }
.advantages1 {
  display: flex;
  justify-content: center;
  margin-top: 60px; }
.advantages2 {
  display: flex;
  justify-content: space-between;
  margin-top: 70px; }
.advantages3 {
  display: flex;
  justify-content: space-around;
  margin-top: 300px; }
.advantages11 {
  position: relative;
  text-align: center;
  margin-top: 20px; }
.advantages33 {
  width: 300px; }
.advantages-block {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #5b5b5b;
  text-align: center !important;
  transition: all 0.2s ease-out 0.1s !important;
  overflow: hidden;
  z-index: 1100;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  .advantages-block .advantages-head {
    display: none;
    color: #F2A711;
    font-size: 24px; }
  .advantages-block .advantages-text {
    display: none;
    color: #ffffff;
    font-size: 16px; }
  .advantages-block img {
    margin-top: 25px;
    height: 50px; }
  .advantages-block:hover {
    width: 280px;
    height: 250px;
    border-radius: 19px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px !important;
    color: #F2A711;
    margin-bottom: -150px; }
    .advantages-block:hover .advantages-head {
      display: inline; }
    .advantages-block:hover .advantages-text {
      display: inline; }
    .advantages-block:hover img {
      display: none; }

.carousel-control-prev {
  justify-content: left; }

.carousel-control-next {
  justify-content: flex-end; }

.forms {
  background: url("../img/call-background.png"); }
  .forms form {
    margin-top: 40px; }
    .forms form .d-flex {
      justify-content: space-between;
      flex-wrap: wrap; }
    .forms form input[type=text], .forms form textarea, .forms form label {
      background: #4F4F4F;
      border: 1px solid #F2A711;
      color: #ffffff;
      padding: 15px 10px;
      outline: none;
      width: 264px; }
      @media (max-width: 768px) {
        .forms form input[type=text], .forms form textarea, .forms form label {
          width: 100%; } }
    .forms form label {
      margin: 0;
      color: #F2A711; }
    .forms form input[type=file] {
      display: none; }
    .forms form textarea {
      width: 100%;
      height: 110px;
      resize: none;
      margin-bottom: -5px; }
    .forms form .btns {
      padding: 5px;
      background: #4F4F4F;
      display: inline-block;
      margin-top: 40px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
      @media (max-width: 768px) {
        .forms form .btns {
          width: 100%; } }
    .forms form .btns-t {
      display: block;
      padding: 5px;
      background: #4F4F4F;
      margin: 40px 0;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }

.price {
  background: #4F4F4F;
  height: 710px;
  color: #ffffff; }
  @media (min-width: 768px) {
    .price {
      background: #4F4F4F url("../img/price-background.png") 50vw center no-repeat; } }
  .price h2 {
    color: #ffffff; }
  .price .d-flex {
    margin-bottom: 60px; }
  .price .btns {
    padding: 5px;
    background: #444444;
    height: 45px; }
  .price .select {
    /*for WebKit */
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    border: 1px solid #F2A711;
    color: #F2A711;
    padding: 6px;
    outline: none;
    width: 264px;
    height: 34px;
    background: #444444 url("../img/Polygon.png") no-repeat 95% center; }
    .price .select option {
      color: #ffffff; }
  .price-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F2A711;
    padding: 15px 0 5px; }

.footer {
  background: #1B1B1B;
  color: #ffffff;
  font-size: 14px; }
  .footer.container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .footer .container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between; }
    .footer .container .item {
      margin-top: 20px; }
    .footer .container .contact img {
      margin-right: 10px; }

iframe {
  margin-bottom: -10px; }

.appointment {
  width: 364px;
  height: 380px;
  margin: 10% auto; }
  .appointment .modal-content {
    background: #FFF3D7;
    padding-top: 75px;
    padding-bottom: 75px; }
    .appointment .modal-content .btns {
      padding: 5px;
      background: #4F4F4F;
      display: inline-block;
      margin: 10px 50px; }
    .appointment .modal-content input.btn-grey {
      background: #4F4F4F;
      border: 1px solid #F2A711;
      color: #ffffff;
      padding: 15px 10px;
      outline: none;
      width: 254px; }
    .appointment .modal-content .btn-yellow {
      margin: 10px 50px;
      width: calc( 100% - 100px); }

/*# sourceMappingURL=index.css.map */
